/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #07080c;
}
.heading {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}
.image {
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 8px;
}
.heading2 {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.paragraph {
  font-family: 'Roboto';
  font-size: 14px;
  color: #cbd5e1;
}
.count {
  font-size: 80px;
  font-family: 'Roboto';
  color: #2e3e4e;
  margin-top: 8px;
  margin-bottom: 20px;
}

.button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 8px;
  border: none;
  border-radius: 4px;
}
.btn1 {
  background-color: #0b69ff;
}
.btn2 {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #94a3b8;
}
